{% from "forms.html.jinja2" import render_field %}

<html>
    <head>
        <title>Formulaires</title>
    </head>
    <body>
    <form action="{{ url_for("fonction_formulaire_addition") }}" method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.number_a) }}
        {{ render_field(form.operator) }}
        {{ render_field(form.number_b) }}

        <input type="submit">
    </form>
    </body>
</html>