<html>
    <head>
        <title>{{ title }}</title>
        <style>
            .active {
                color: red;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
    <header>
        <a href="/view/a">Template A</a> |
        <a href="/view/b" class="active">Template B</a> |
        <a href="/view/c">Template C</a>
        <hr>
    </header>
    Template b
    <footer>
        <hr>
        Flask SAR - 2019
    </footer>
    </body>
</html>